/*-- footer-top --*/
.footer-top{
	background:#333333;
    font-style: normal;
    padding: 4em 0;
	}
.footer-top-grid h3{
	color: #fff;
    font-size: 1.4em;
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 1px dotted #989898;
    font-weight: 200;
    margin: 0 0 1.5em;
	}
.footer-top-grid h3 span{
	color:#f65a5b;
	margin-left: .3em;
	}
.footer-top-grid p{
	color: #B8B8B8;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0;
	}
.footer-top-grid ul.tag2{
	padding:0;
	margin: 0 0 8px;
	}
.footer-top-grid ul.tag2 li{
	display:inline-block;
	}
.footer-top-grid ul.tag2 li a{	
	font-size: 13px;
    color: #CCC8C8;
    padding: 3px 7px;
    background:#636363;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	    text-transform: capitalize;
	}
.footer-top-grid ul.tag2 li a:hover{
	text-decoration: none;
    background:#F65A5B;
    color: #fff;
	}
.footer-top-grid ul.tag2{
	display:block;
	}
.footer-top-grid ul.twi li{
	background:url(../images/4.png) no-repeat 0px 0px;
	display:block;
	padding-left: 2em;
	color:#B8B8B8;
	font-size:14px;
	margin-bottom:1.5em;
	}
.footer-top-grid ul.twi li:nth-child(2){
	margin:0;
	}
.footer-top-grid ul.twi li a.mail{
	color:#B8B8B8;
	font-size:12px;
	}
.footer-top-grid ul.twi li a.mail:hover{
	color:#fff;
	}
.footer-top-grid ul.twi li span{
	display:block;
	margin:.3em 0 0em;
	color:#fff;
	font-size:12px;
	}
.flickr-grids{
	margin:1em 0 0;
	}
.flickr-grid{
	float: left;
    width: 33.33%;
    border: 1px solid #fff;
	}
.flickr-grid img{
	width:100%;
	}
.footer-top-grid {
    padding-right: 0;
}
/*-- //footer-top --*/
/*-- footer --*/
.footer{
	padding: 2em 0;
    background:#3A3A3A;
	}
.footer-left{
	float:left;
	}
.footer-right{
	float:right;
	}
.footer-left ul{
	padding:0;
	margin:0;
	}
.footer-left ul li{
	display:inline-block;
	}
.footer-left ul li a{
	font-size:1.3em;
	color:#fff;
	text-decoration:none;
}
.footer-left ul li a i{
	font-style:normal;
	color:#f65a5b;
}
.footer-left ul li p{
	font-size:14px;
	color:#B9B5B5;
	margin: 0;
	}
.footer-left ul li span{
	color:#fff;
	}
.footer-right p{
	color:#B9B5B5;
	font-size:14px;
	margin:0.6em 0 0;
	}
.footer-right p a{
	color:#fff;
	text-decoration: none;
	}
.footer-right p a:hover{
	color:#f65a5b;
	}
/*-- footer --*/
