
                 
                    <div class="sidebar-box">
                        <h4>New User Training</h4>
                        <ol class="cat-list">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="10" class="hover-color">Start Here</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="6" class="hover-color">SSH Log-In</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="8" class="hover-color">Home Directory & Intro to the Command Line</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="14" class="hover-color">Data Transfer</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="8" class="hover-color">Interactive Session</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="14" class="hover-color">Batch Compute Jobs</a></li>
                        </ol>
                    </div><hr>
                    <div class="sidebar-box">
                        <h4>Software and Apps</h4>
                        <ul class="cat-list">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="10" class="hover-color">rclone for Google Drive</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="6" class="hover-color">rclone for MS OneDrive</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="8" class="hover-color">rclone for DropBox</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="14" class="hover-color">Modules</a></li>
                            <li><a href="{{site.baseurl}}/docs/Fortran" data-toggle="tooltip" data-placement="right" title="" data-original-title="8" class="hover-color">Fortran</a></li>
                            <li><a href="{{site.baseurl}}/docs/Gaussian" data-toggle="tooltip" data-placement="right" title="" data-original-title="8" class="hover-color">Gaussian</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="14" class="hover-color">PAUP</a></li>
                        </ul>
                    </div><hr>
                    <div class="sidebar-box">
                        <h4>Other Information</h4>
                        <ul class="cat-list">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="10" class="hover-color">Legacy Hardware Overview</a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="6" class="hover-color">X-11 Forwarding</a></li>
                        </ul>
                    </div>
                    
        
