/*
Accordoins style
*/
/*
Accordoins card style
*/
.accordion-header {
    position: relative; }
.accordion-header a {
    position: relative;
    display: block;
    color: $skincolor;
    font-weight: 600;
    font-family: $title-font;
    text-transform: uppercase; }
.accordion-header a:before {
        content: "\f3d0";
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Ionicons'; }
.accordion-header a.collapsed {
    color: $skincolor; }
.accordion-header a.collapsed:before {
      content: "\f3d3";
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Ionicons'; }

.card-accordion-simple .card {
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px; }

.card-accordion-simple .card-header {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin-bottom: 10px; }
.card-accordion-simple .card-header a {
    display: block;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.05); }
.card-accordion-simple .card-header a:before {
    top: 9px;
    right: 15px; }

.card-accordion-simple .card-block {
    padding: 20px 15px;
    padding-top: 10px; }


