<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--plugins-->
        <link href="../../assets/css/plugins/plugins.css" rel="stylesheet">
        <!--Custom css-->
        <link href="../../assets/css/style.css" rel="stylesheet">
        <!--favicon-->
        <link rel="shortcut icon" href="../../assets/img/computer.png">
    </head>
    <body>
        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 hidden-md-down">
                        <ul class="info list-inline pull-left hidden-sm-down">
                            <li class="list-inline-item">Need Help? Contact the USD HelpDesk </li>
                            
                        </ul> 
                    </div>
                    <div class="col-lg-8">
                        <div class="text-right">
                            <ul class="info list-inline">
                                <li class="list-inline-item"><i class="ion-android-mail"></i> helpdesk@usd.edu</li>
                                <li class="list-inline-item"><i class="ion-android-call"></i> 1+ (605) 658 6000</li>
                                <li class="list-inline-item"><i class="ion-android-call"></i> 1+ (877) 225 0027</li>
                            
                            </ul>
                        </div>
                    </div>
                </div>


            </div><!--container end-->
        </div>
        
        <nav class="navbar navbar-toggleable-sm navbar-light bg-faded search-header">
      <!--  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded yamm"> -->
           
            <div class="container">
                     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}/index.html"><img src="assets/img/logo_home.png" class="img-fluid" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto smooth-scroll">
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/index"><i class="ion-home"></i> Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/workshop"><i class="ion-university"></i> Workshops</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/systems"><i class="ion-cube"></i> Systems</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/software"><i class="ion-android-checkbox"></i> Software</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/resources"><i class="ion-android-list"></i> Resources</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/FAQ"><i class="ion-help-circled"></i> FAQ</a></li>
                    </ul>
                </div>

            </div>

        </nav><!--nav end-->
        
       
    {{content}}                    
                    
                    
         <footer id="footer-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3>Getting Started</h3>
                            <a href="https://github.com/USDRCG/usdrcg.github.io/wiki/SSH-Log-In" class="tweet-ac hover-color">Logging In</a>
                            <div class="tweet-desc">
                                <p>This page describes the steps for logging into the HPC.</p>
                            </div>
                            <a href="https://github.com/USDRCG/usdrcg.github.io/wiki/Home-Directory-and-Intro-to-the-Command-Line" class="tweet-ac hover-color">Navigating</a>
                            <div class="tweet-desc">
                                <p>Getting lost in your directories? Check this page out.</p>
                            </div>
                        </div>
                    </div><!--footer col end-->
                    <div class="col-lg-3 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3>Welcome Wagon</h3>
                            <a href="{{site.baseurl}}/workshop" class="tweet-ac hover-color">Workshops</a>
                            <div class="tweet-desc">
                                <p>We offer several hands-on training sessions per year.</p>
                            </div>
                            <a href="https://github.com/USDRCG/usdrcg.github.io/wiki" class="tweet-ac hover-color">Training Documents</a>
                            <div class="tweet-desc">
                                <p>This is where you can find helpful how-to instructions.</p>
                            </div>
                        </div>
                    </div><!--footer col end-->
                    <div class="col-lg-3 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3>External Training</h3>
                            <a href="http://software-carpentry.org/" class="tweet-ac hover-color">Software Carpentry</a>
                            <div class="tweet-desc">
                                <p>This site has tutorials for beginners, from shell commands to visualization.</p>
                            </div>
                            <a href="http://explainshell.com/" class="tweet-ac hover-color">Explain Shell</a>
                            <div class="tweet-desc">
                                <p>Here, you can type (or paste) shell commands to get an explanation.</p>
                            </div>
                        </div> 
                    </div><!--footer col end-->
                    <div class="col-lg-3 margin-btm-20">
                        <div class="footer-col">
                            <h3>Contact Info</h3>
                            <p><i class="ion-home"></i> University of South Dakota</p>
                            <p><i class="ion-iphone"></i>  1+ (877) 225 0027</p>
                            <p><i class="ion-email"></i>  helpdesk@usd.edu</p>
                        </div>
                    </div>
                </div>    
                    
                    
                    
              </div><!--container-->              
         <div class="footer-copyright">
            <div class="container">  
            <!--    <div class="space-20"></div>    -->
                <div class="row">
                    <div class="col-md-12 text-center footer-bottom">
                        <a href="index.html"> <img src="assets/img/logo_home.png" alt=""></a>
                        <div class="space-20"></div>
                        <span>&copy;2017. All right reserved. Maintained by <a href="http://github.com/wendikristine">wendikristine</a>.</span>
                    </div>
                </div><!--footer copyright row end-->
             </div>       
             </div>    
        </footer><!--footer main end-->
<!--        </div>       -->
        <!--back to top-->
        <a href="index.html" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
        <!--back to top end-->

        <!-- jQuery plugins. -->
        <script src="assets/js/plugins/plugins.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
