<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--plugins-->
        <link href="{{site.baseurl}}/assets/css/plugins/plugins.css" rel="stylesheet">
        <!--Custom css-->
        <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">
        <!--favicon-->
        <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/computer.png">
    </head>
    <body>
        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 hidden-md-down">
                        <ul class="info list-inline pull-left hidden-sm-down">
                            <li class="list-inline-item">Need Help? Contact the USD HelpDesk </li>
                            
                        </ul> 
                    </div>
                    <div class="col-lg-8">
                        <div class="text-right">
                            <ul class="info list-inline">
                                <li class="list-inline-item"><i class="ion-android-mail"></i> helpdesk@usd.edu</li>
                                <li class="list-inline-item"><i class="ion-android-call"></i> 1+ (605) 658 6000</li>
                                <li class="list-inline-item"><i class="ion-android-call"></i> 1+ (877) 225 0027</li>
                            
                            </ul>
                        </div>
                    </div>
                </div>


            </div><!--container end-->
        </div>
        
        <nav class="navbar navbar-toggleable-sm navbar-light bg-faded search-header">
      <!--  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded yamm"> -->
           
            <div class="container">
                     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/assets/img/logo_home.png" class="img-fluid" alt=""></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto smooth-scroll">
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/index"><i class="ion-home"></i> Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/About"><i class="ion-android-checkbox"></i> About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/Services"><i class="ion-cube"></i> Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/Resources"><i class="ion-android-list"></i> Resources</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/Education"><i class="ion-university"></i> Education</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{site.baseurl}}/ContactUs"><i class="ion-help-circled"></i> Contact Us</a></li>
                    </ul>
                </div>

            </div>

        </nav><!--nav end-->
        
       
    {{content}}                    
                    
                    
         <footer id="footer-option">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-4 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3>Contact Info</h3>
                            <p><i class="ion-home"></i> University of South Dakota</p>
                            <p><i class="ion-android-call"></i>  <a href="tel:1-877-225-0027">  1+ (877) 225 0027</a></p>
                            <p><i class="ion-android-mail"></i>    <a href="mailto:helpdesk@usd.edu">  helpdesk@usd.edu</a></p>
                            <p><i class="ion-social-twitter"></i>  <a href="https://twitter.com/usdrcg">  @usdrcg</a></p>
                        </div>
                    </div><!--footer col end-->
                    <div class="col-lg-4 margin-btm-20">
                        <div class="footer-col">
                            <h3>Welcome Wagon</h3>
                            <a href="{{site.baseurl}}/Education" class="tweet-ac hover-color">Workshops</a>
                            <div class="tweet-desc">
                                <p>We offer hands-on training sessions.</p>
                            </div>
                            <a href="http://rcg.usd.edu/docs" class="tweet-ac hover-color">Training Documents</a>
                            <div class="tweet-desc">
                                <p>Here you can find how-to instructions.</p>
                            </div>
                        </div>
                    </div><!--footer col end-->
                    <div class="col-lg-4 margin-btm-20">
                        <div class="footer-col margin-btm-20">
                            <h3>External Training</h3>
                            <a href="http://software-carpentry.org/" class="tweet-ac hover-color">Software Carpentry</a>
                            <div class="tweet-desc">
                                <p>This site has tutorials for beginners.</p>
                            </div>
                            <a href="http://explainshell.com/" class="tweet-ac hover-color">Explain Shell</a>
                            <div class="tweet-desc">
                                <p>This tool explains shell commands.</p>
                            </div>
                        </div> 
                    </div><!--footer col end-->
                </div>    
                    
                    
                    
              </div><!--container-->              
         <div class="footer-copyright">
            <div class="container">  
            <!--    <div class="space-20"></div>    -->
                <div class="row">
                    <div class="col-md-12 text-center footer-bottom">
                        <a href="{{site.baseurl}}/index.html"> <img src="{{site.baseurl}}/assets/img/logo_home.png" alt=""></a>
                        <div class="space-20"></div>
                        <span>&copy;2017-present. All right reserved. Maintained by <a href="http://github.com/wendikristine">wendikristine</a>.</span>
                    </div>
                </div><!--footer copyright row end-->
             </div>       
             </div>    
        </footer><!--footer main end-->
<!--        </div>       -->
        <!--back to top-->
        <a href="{{site.baseurl}}/index.html" class="scrollToTop"><i class="ion-android-arrow-dropup-circle"></i></a>
        <!--back to top end-->

        <!-- jQuery plugins. -->
        <script src="{{site.baseurl}}/assets/js/plugins/plugins.js"></script>
        <script src="{{site.baseurl}}/assets/js/app.js"></script>
    </body>
</html>
